@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');


* {
    margin: 0;
    overflow: hidden;
}

body {
    background-image: url("https://i.imgur.com/IEBsfcF.jpg");
    background-size: cover;
}

.index {
    position: absolute;
    color: white;
    z-index: 1;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    font-family: monospace;
    font-size: 26px;
}

.planet {
    border: solid #ffffff54 2px;
    padding: 10px 20px 10px 20px;
    background-color: #090a0abd;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 2px;
    color: #ffffff9c;
}

.planet:hover {
    background-color: rgba(255, 255, 255, 0.404);
    color: black;
}

.dinosaur {
    position: absolute;
    top: 7%;
    right: 2%;
    width: 14%;
    height: 30%;
}

.tojump {
    position: absolute;
    background-color: white;
    right: 0;
}

.float, .gravity {
    position: absolute;
    right: 19.5%;
    bottom: 2%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff54;
    font-size: 20px;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    border-color: transparent;
}

.float {
    bottom: 7%;
}

.planetname {
    position: absolute;
    right: 22.5%;
    bottom: 3.5%;
    background-color: #060707;
    padding: 8px 10px 8px 10px;
    color: #ffffff9c;
    font-family: monospace;
    border-radius: 10px;
    font-size: 20px;
    border: 5px transparent solid;
}

.card {
    position: absolute;
    top: 16%;
    right: 21%;
    color: #ffffff9c;
}

.data {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 7px;
    font-size: 20px;
    background-color: rgba(2, 0, 0, 0.719);
    padding: 30px 40px 30px 50px;
    border: 5px #ffffff54 solid;
    font-family: monospace;
    background-color: #090a0abd;
}

.title {
    top: 0;
    color: #ffffff9c;
    margin-bottom: 10px;
    font-size: 50px;
    margin-left: 15%;
    font-family: 'Mali', cursive;
    font-style: italic;
}

.main {
    color: white;
    position: absolute;
    left: 50%;
    top: 2%;
    font-size: 50px;
    font-family: 'Mali', cursive;
}