* {
    margin: 0;
    overflow: hidden;
}

body {
    background-image: url("https://i.imgur.com/IEBsfcF.jpg");
}

.index {
    position: absolute;
    color: white;
    z-index: 1;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    font-family: monospace;
    font-size: 26px;
}

.planet {
    border: solid #8C8273 2px;
    padding: 10px;
    background-color: #181A1B;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
}

.planet:hover {
    background-color: rgba(193, 201, 147, 0.918);
}

.dinosaur {
    position: absolute;
    bottom: 20%;
    right: 5%;
    width: 10%;
    height: 20%;
}

.tojump {
    position: absolute;
    background-color: white;
    right: 0;
}