@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');


* {
    margin: 0;
    overflow: hidden;
}

body {
    background-image: url("https://i.imgur.com/IEBsfcF.jpg");
    background-size: cover;
}

.index {
    position: absolute;
    color: white;
    z-index: 1;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    font-family: monospace;
    font-size: 26px;
}

.planet {
    border: solid #ffffff54 2px;
    padding: 10px 20px 10px 20px;
    background-color: #090a0abd;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
}

.planet:hover {
    background-color: rgba(255, 255, 255, 0.404);
    color: black;
}

.dinosaur {
    position: absolute;
    top: 7%;
    right: 2%;
    width: 14%;
    height: 30%;
}

.tojump {
    position: absolute;
    background-color: white;
    right: 0;
}

.float, .gravity {
    position: absolute;
    right: 18%;
    bottom: 1%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.575);
    color: black;
    font-size: 12px;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    border-color: transparent;
}

.float {
    bottom: 6%;
}

.planetname {
    position: absolute;
    right: 1%;
    bottom: 1%;
    background-color: #000000;
    padding: 8px 10px 8px 10px;
    color: rgba(255, 255, 255, 0.651);
    font-family: monospace;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid rgba(255, 255, 255, 0.219);
}

.card {
    position: absolute;
    top: 30% !important;
    right: 25%;
    top: 10%;
    color: white;
}

.data {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    gap: 7px;
    font-size: 20px;
    background-color: rgba(2, 0, 0, 0.719);
    padding: 15px 40px 15px 20px;
    border: 2px rgba(255, 255, 255, 0.315) solid;
    font-family: monospace;
}

.title {
    top: 0;
    color: white;
    margin-bottom: 10px;
    font-size: 50px;
    margin-left: 15%;
    font-family: 'Mali', cursive;
    font-style: italic;
}

.main {
    color: white;
    position: absolute;
    left: 50%;
    top: 2%;
    font-size: 50px;
    font-family: 'Mali', cursive;
}